body {
  font-family: Arial, sans-serif;
  mar gin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: #fff;
}

.cta {
  color: #fff;
  text-decoration: none;
  background-color: #a1fabf;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

video {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

p {
  text-align: center;
  margin: 20px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
